---
const greeting: string = "Hello, world! AWS deployments with GitHub Actions and CDK are awesome!";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>AWS Deployment with GitHub Actions and CDK</title>
  </head>
  <body>
    <h1>{greeting}</h1>
  </body>
</html>